body{
	background-color: #000000;
	font-size: small;
	margin-left: 20%;
	margin-right: 10%;
	padding: 10px 10px 10px 10px;
	line-height: 1.6em;
	zoom:20%;
}
p{
	color:#33FF66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
}
#head{
	height: 172px;
}
#eyes{
	height: 79px;
}
#nose{
	height: 86px;
}
#mouth{
	height: 117px;
}
#frame{
	position: absolute;
	left: 100px;
	top: 100px;
	width: 545px;
	height: 629px;
	background-image: url(../images/frame.png);
	z-index:3;
	overflow: hidden;
}
#pic_box{
	position: relative;
	left: 91px;
	top:84px;
	width: 367px;
	height: 460px;
	z-index: 2;
	overflow: hidden;
}
#text_top{
	position: relative;
}

.face{
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 1;
}
#top{
	position: absolute;
	left: 191px;
	height: 100px;
	width: 90px;
	top:0px;
	z-index: 4;
	margin-right: 20%;
	margin-left: 20%;
}
#container{
	position: absolute;
	left: 0px;
	top:0px;
	z-index: 0;
}
.lightning{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
}
